---
// This page displays links to all sessions that are tagged with a specific audience.

import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SessionLink from '../../components/SessionLink.astro';

// This function generates the static paths for your Astro pages based on audiences.
export async function getStaticPaths() {
  // Get all sessions by globbing the sessions directory for markdown files.
  const allSessions = await getCollection('sessions');
  const allAudiences = await getCollection('audiences');

  // Return an array of objects, each containing an audience and the sessions associated with that audience.
  return allAudiences.map((audienceEntry) => {
    // Filter the sessions for those that include the current audience.
    const filteredSessions = allSessions.filter((session) =>
      session.data.audiences
        .map((audience) => audience.slug)
        .includes(audienceEntry.slug)
    );

    // Return an object with the audience as a parameter and the filtered sessions as a prop.
    return {
      params: { audience: audienceEntry.slug },
      props: { audienceEntry, sessions: filteredSessions },
    };
  });
}

// Extract the audience from the Astro params.
// const { audience } = Astro.params;

// Extract the sessions from the Astro props.
const { sessions, audienceEntry } = Astro.props;

// Get the audience entry from the audiences collection.
const { Content } = await audienceEntry.render();
---

<BaseLayout title={audienceEntry.data.label}>
  <h4>{audienceEntry.data.title} audience</h4>
  <Content />

  <h5>Session list</h5>
  <ul>
    {
      sessions.map((session) => (
        <SessionLink
          url={`/sessions/${session.slug}/`}
          title={session.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
