---
// This page diplays all audience tags found in the sessions collection

import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const audiences = await getCollection('audiences');
const pageTitle = 'Tag Index';
---

<BaseLayout title={pageTitle}>
  <div class='tags'>
    <h5>Audiences</h5>
    {
      audiences.map((audience) => (
        <p class='tag'>
          <a href={`/audiences/${audience.slug}`}>{audience.data.label}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
