---
// This page diplays all audience tags found in the sessions collection

import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allSessions = await getCollection('sessions');
const audiences = [
  ...new Set(allSessions.map((session) => session.data.audiences).flat()),
];
const pageTitle = 'Tag Index';
---

<BaseLayout title={pageTitle}>
  {
    (
      <div class='tags'>
        {audiences.map((audience) => (
          <p class='tag'>
            <a href={`/audiences/${audience}`}>{audience}</a>
          </p>
        ))}
      </div>
    )
  }
</BaseLayout>
