---
import { marked } from 'marked';

interface Props {
  author: {
    login: string;
    url: string;
  };
  createdAt: string;
  markdown: string;
}

const { author, createdAt, markdown } = Astro.props;
---

<!-- The `marked` function converts the `markdown` string to HTML and the
`set:html` directive sets the inner HTML of the `div` element to the conversion
result so that the markdown is rendered as HTML inside the `div` element. -->
<div class='marked-down'>
  <div class='marked-down' set:html={marked(markdown)} />

  <span
    ><a href={author.url}>{author.login}</a> | {
      new Date(createdAt).toISOString().split('T')[0].replace(/-/g, '.')
    }</span
  >
</div>

<style>
  .marked-down {
    padding: 1rem;
    margin: 0.2rem 0;
    border: 1px solid var(--sl-color-neutral-400);
    border-radius: 0.5rem;
    background-color: var(--sl-color-neutral-0);
  }
</style>
