---
// This page diplays all techno tags found in the sessions collection

import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const technos = await getCollection('technos');
const pageTitle = 'Tag Index';
---

<BaseLayout title={pageTitle}>
  <div class='tags'>
    <h5>Technos</h5>
    {
      technos.map((techno) => (
        <p class='tag'>
          <a href={`/technos/${techno.slug}`}>{techno.data.label}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
